<div class="container">
   <footer class="footer">
   <small>
     Copyright &copy; <a herf="http://www.w3schools.com">W3 schools</a>
     By <a href="http://www.google.com">Google</a>
    </small>
    <nav>
      <ul>
       <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
   </footer>
</div>        